h1 {
    font-family: 'Lemon', serif;
    font-size: 70px;
    color: #265073;
}

h2 {
    color: #2D9596;
}

a {
    color: white;
    text-decoration: none;
}

p {
    color: #2D9596;
}

body {
    background-color: #ECF4D6;
}

#header {
    background-color: #9AD0C2;
    padding: 100px;
}

#header_text {
    color: #265073;
    font-size: 2rem;
}

#add {
    padding: 50px;
}

#personal {
    padding: 50px;
}

#professional {
    padding: 50px;
}

#educational {
    padding: 50px;
}

#financal {
    padding: 50px;
}

#footer {
    background-color: #9AD0C2;
    padding-top: 60px;
}

#complete_link {
    color: #265073;
    text-decoration: underline
}